body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.popap{
    width: 320px;
    height: 320px;
    background-color: crimson;
    opacity: 0;
    visibility: hidden;
}
#popap:target{
    opacity: 1;
    visibility: visible;

}
#popap_close{
    opacity: 0;
    visibility: hidden;
}